:root {
    --highlight-color: #4787f0;
    --hover-blue: #b5cef7;
    --background-color: #f8f8ff;
    --dark-blue: #0f47a3;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

#root {
    position: relative;
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding-left: 20px;
}

.nav-items {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: var(--dark-blue);
    padding: 0 20px;
}

.nav-item:hover {
    background-color: var(--hover-blue);
    transition: 0.2s ease-in-out;
}

.selected-nav {
    background-color: var(--highlight-color);
    color: white;
}
